* {
margin:0;
padding:0;
}

body {
background: rgb(144,204,255);
background: radial-gradient(circle, rgba(144,204,255,1) 0%, rgba(215,189,255,1) 100%);
}

#title {
position:fixed;
background-color:#36393f;
width:100%;
}

#title + h3 + .gridContainer {
margin-top:150px
}

#title + h3 + canvas {
margin-top:150px
}

h1, h2, h3, h4, h5, h6, ul, li, footer {
font-family:verdana;
color:White;
padding:5px 15px;
text-align:center;
}

h3 {
background-color:#36393f;
width:80%;
margin-left:auto;
margin-right:auto;
}

ul {
width:-webkit-fill-available;
list-style:none;
}

ul, li {
display:inline-block;
}

a, a:visited {
font-family:verdana;
color:cornflowerblue;
text-decoration:none;
}

.gridContainer {
display:grid;
grid-template-columns:31% 30% 31%;
gap:10px 60px;
margin-right:24px;
margin-top:30px;
margin-bottom:30px;
}

.divImg {
margin:auto;
}

img {
width:100%;
background-color:white;
padding:25px;
}

.large {
grid-column:auto/span 2;
width:100%;
}

.vlarge {
grid-column:auto/span 3;
width:100%;
}

.hide {
display:none;
}

#imgGif {
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:150px;
width:fit-content;
}

#imgGifContent {
width:min-content;
max-width:90%;
}

footer {
background-color:#36393f;
margin-top:50px;
}

canvas {
border:25px white solid;
display: block;
margin-left: auto;
margin-right: auto;
cursor:crosshair;
}

label {
font-family: verdana;
margin-left:5px;
color:white;
}

input {
padding: 2px;
border-radius: 10px;
border: 1px solid lightgray;
font-family: verdana;
margin-top:5px;
margin-bottom:5px;
width:100%;
color:Grey;
}

input:focus {
color:black;
}

input#getSize {
width:35px;
}

input#getURL {
width:calc(100% - 100px);
}

form{
background:#36393f;
padding:10px;
margin:10px;
border-radius:10px;
}

#songTable {
margin-top:150px;
}

td {
background-color:#36393f;
color:white;
font-family:verdana;
padding:5px 15px;
text-align:center;
}

table {
width:100%;
}