* {
margin:0;
padding:0;
}
body {
background: rgb(144,204,255);
background: radial-gradient(circle, rgba(144,204,255,1) 0%, rgba(215,189,255,1) 100%);
}
h1, h2, h3, h4, h5, h6, p, ul, li,footer {
font-family:verdana;
color:White;
padding:10px 15px;
margin:1px 0px;
background-color:#36393f;
text-align:center;
}
h3{
margin:20px 120px 10px 120px;
}
a {
font-family:verdana;
color:cornflowerblue;
text-decoration:none;
}
a:visited {
color:cornflowerblue;
text-decoration:none;
}
ul {
list-style:none;
}
.divImg {
margin:auto;
}
img {
width:100%;
margin:10px;
}
.large {
grid-column:auto/span 2;
width:100%;
}
.vlarge {
grid-column:auto/span 3;
width:100%;
}
.hide {
display:none;
}
.gridContainer {
display:grid;
grid-template-columns:32% 33% 32%;
gap:10px;
margin:100px 10px;
padding:10px;
}